<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>

<form action="save" method="post">
    用户姓名:<input type="text" name="name" />
    <span color="red" th:error="${u.name}"></span>
    <br />
    用户密码:<input type="password" name="password" />
    <span color="red" th:error="${u.password}" />
    <br />
    用户年龄:<input type="number" name="age" />
    <span color="red" th:error="${u.age}" />
    <br />
    <input type="submit" value="确定"/>
</form>

</body>
</html>